[Desktop Entry]
Encoding=UTF-8
Name=Link to icon-job.png
Type=Link
URL=https://github.com/PJBentham/LabourPlotter/blob/master/icon-job.png
Icon=text-html
